{
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow"
    }
  ]
}